form {
    background-color: #dfdfdf;
    border-radius: 4px;
    padding: 20px;
    display: inline-block;
    min-width: 300px;
    font-size: 15px;
}


select, input[type="text"], textarea {
    border: 1px solid silver !important;
    padding: 10px 5px !important;
    background-color: white;
    font-size: 15px;
}

select {
    padding:5px 5px !important;
}

input[type="text"], textarea {
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: steelblue;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 15px;
    position: relative;
    min-width: 200px;
    text-align: center;
}

button:active {
    top: 1px;
}

button:disabled, button:active:disabled, button:hover:disabled  {
    top: 0;
    background-color: silver;
}

button:hover {
    background-color: #569edc;
    cursor: pointer;
}

input[type="text"]:read-only {
    background-color: #dfdfdf;
}